# Add any directories, files, or patterns you don't want to be tracked by version control
/.idea/
/.vscode/
/node_modules/
/src/datasets/
/venv/
/src/nn_tests/DATA/prova.py
/src/nn_tests/DATA/20_grouped_by_1day/
/src/nn_tests/DATA/20_grouped_by_4hour/
/src/nn_tests/DATA/20_grouped_by_8hour/
/src/nn_tests/DATA/20_grouped_by_1hour/
/src/nn_tests/DATA/20_grouped_by_1week/
/src/nn_tests/DATA/20_grouped_by_1month/
/src/nn_tests/DATA/plots/
/src/nn_tests/DATA/models/
/src/nn_tests/DATA/model/
/src/nn_tests/DATA/not_useful/
/src/nn_tests/DATA/experiments/
/documentation/site/
*.pyc
*.csv
*.json
*.log
*.png
*.jpg
*.zip
*.pkl
*.model
*.txt
*xlsx
*.psd
*.docx
*.ini
*.rar